<!DOCTYPE HTML>
<head>
	<title>Sinatra: <%= @title %></title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/screen.css">	
</head>
<body>
  <%= yield %>
</body>
</html>

